<!--
    CreatedBy : ankitSoni
    Date      : 10/15/2020
-->
<template>

    <div class="slds-clearfix slds-m-top_large slds-m-right_large slds-m-left_large slds-text-heading_small">
        <div class="slds-float_left slds-m-left_small filterLine">
            <div class="filterText">Sort {sortText}:</div>

            <lightning-icon onclick={doSort} icon-name="utility:sort"
              title="Sort Alphabetically" size="small" class="slds-p-right_small slds-p-left_small selectPointer">
            </lightning-icon>
        
        </div>
    
        <div class="slds-m-right_large" >
            <lightning-layout horizontal-align="left" multiple-rows>
              <template for:each={contactList} for:item="con">
                <lightning-layout-item key={con.conId} padding="around-small" size="6" small-device-size="6"
                  medium-device-size="12" large-device-size="6">
                  <c-contact-Tile contact={con}></c-contact-Tile>
                  
                </lightning-layout-item>
              </template>
            </lightning-layout>
        </div>
    
    </div>
    
</template>