.contactTitle {
    font-weight: 600;
    color: rgb(51, 51, 51);
    font-size: 24px;
    letter-spacing: -0.4px;
}

.descriptionDiv {
    overflow-y: hidden;
    height: auto;
    font-size: 14px;
    letter-spacing: -0.23px;
    line-height: 20px;
    color: rgb(103, 103, 103);
}