<!--
    CreatedBy : ankitSoni
    Date      : 10/15/2020
-->
<template>
    <lightning-card data-id={contact.conId} data-identifier="mainDiv">

        <div class="slds-grid">
            <!-- contact Description-->
            <div class="slds-col slds-size_12-of-12 slds-p-left_x-small">

                <lightning-layout multiple-rows>
                    <lightning-layout-item size="12" class="slds-p-left_small slds-p-vertical_small"
                        small-device-size="6" medium-device-size="12" large-device-size="12">
                        <div class="slds-text-heading_medium contactTitle">
                            {contact.name}
                        </div>
                    </lightning-layout-item>

                    <lightning-layout-item size="12" class="slds-p-left_small" small-device-size="6"
                        medium-device-size="12" large-device-size="12">
                        <div class="slds-m-top_x-small descriptionDiv">
                            {contact.email}
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" class="slds-p-left_small" small-device-size="6"
                        medium-device-size="12" large-device-size="12">
                        <div class="slds-m-top_x-small descriptionDiv">
                            {contact.phone}
                        </div>
                    </lightning-layout-item>
                    <lightning-layout-item size="12" class="slds-p-left_small" small-device-size="6"
                        medium-device-size="12" large-device-size="12">
                        <div class="slds-m-top_x-small descriptionDiv">
                            {contact.mobilePhone}
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
        </div>
    </lightning-card>
</template>